html {
    scroll-behavior: smooth;
  }

.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transfrom 0.6s ease-in-out;
}

.animate.visible {
    opacity: 1;
    transform: translateY(0);
}